/venv/Lib/site-packages/keyboard/__init__.py
/venv/Lib/site-packages/keyboard/__main__.py
/venv/Lib/site-packages/keyboard/_canonical_names.py
/venv/Lib/site-packages/keyboard/_darwinkeyboard.py
/venv/Lib/site-packages/keyboard/_darwinmouse.py
/venv/Lib/site-packages/keyboard/_generic.py
/venv/Lib/site-packages/keyboard/_keyboard_event.py
/venv/Lib/site-packages/keyboard/_keyboard_tests.py
/venv/Lib/site-packages/keyboard/_mouse_event.py
/venv/Lib/site-packages/keyboard/_mouse_tests.py
/venv/Lib/site-packages/keyboard/_nixcommon.py
/venv/Lib/site-packages/keyboard/_nixkeyboard.py
/venv/Lib/site-packages/keyboard/_nixmouse.py
/venv/Lib/site-packages/keyboard/_winkeyboard.py
/venv/Lib/site-packages/keyboard/_winmouse.py
/venv/Lib/site-packages/keyboard-0.13.5.dist-info/INSTALLER
/venv/Lib/site-packages/keyboard-0.13.5.dist-info/LICENSE.txt
/venv/Lib/site-packages/keyboard-0.13.5.dist-info/METADATA
/venv/Lib/site-packages/keyboard/mouse.py
/venv/Lib/site-packages/keyboard-0.13.5.dist-info/RECORD
/venv/Lib/site-packages/keyboard-0.13.5.dist-info/REQUESTED
/venv/Lib/site-packages/keyboard-0.13.5.dist-info/top_level.txt
/venv/Lib/site-packages/keyboard-0.13.5.dist-info/WHEEL
